@mixin fonts-rules($size: 0, $height: 0, $color: 0, $weight: 400) {
	font-size: $size;
	line-height: $height;
	color: $color;
	font-weight: $weight;
}

@mixin main-nav-text() {
	font-size: 18px;
	line-height: 40px;
	font-weight: bold;
	color: white;
	text-decoration: none;
	text-align: center;	
}

@mixin big-text($color: black, $weight: bold) {
	font-size: 18px;
	line-height: 26px;
	color: $color;
	font-weight: $weight;

	@media (min-width: 768px) {
		font-size: 21px;
	}
}

@mixin clearfix() {
	&::after {
		content: '';
		display: table;
		clear: both;
	}
}

