.btn {
	display: inline-block;
	width: 280px;
	padding: 16px 0;
	text-align: center;
	text-decoration: none;
	background: $bg-blue;
	@include fonts-rules(21px, 26px, white, bold);
	letter-spacing: -0.02em;
}


.hotel-search .btn {
	@media (min-width: 768px) {
		width: 450px;
	}

	@media (min-width: 1200px) {
	
	}
}