.page-header {
  position: relative;
	padding-top: 220px;

	@media (min-width: 768px) {
		padding-top: 0;
	}
}

.page-header__img{
	width: 320px;
	height: 389px;
	background: $bg-blue url(../img/decorative/bg-back-mobile@1x.jpg) -224px;

	@media (min-width: 768px) {
		width: 768px;
		height: 518px;
		background-position: 0;
		background: $bg-blue url(../img/bg-back-tablet@1x.jpg);
	}

	@media (min-width: 1200px) {
		width: 1200px;
		height: 518px;
		background: $bg-blue url(../img/bg-back-mobile@2x.jpg) no-repeat;
	}
}