.page-footer {
	padding-top: 35px;
	text-align: center;
	font-size: 0;

	@include clearfix();
}

.page-footer__teg {
	display: inline-block;
	margin-bottom: 36px; 
	letter-spacing: -0.04em;
	@include fonts-rules(20px, 26px, black, bold);
}

.page-footer__coopyright {
	position: relative;
	display: inline-block;
	padding-top: 43px;
	padding-bottom: 20px;
	padding-right: 35px;
	width: 140px;
	@include fonts-rules(14px, 26px, black, 400);

	svg {
		position: absolute;
		top: 40px;
		right: 23px;
	}
}

@media (min-width: 768px) {
	.page-footer__teg {
		float: left;
		margin-top: 10px;
		margin-left: 62px;
		margin-right: 109px;
	}
	.social-btns {
		float: left;

	}

	.page-footer__coopyright {
		float: right;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-right: 68px;

		svg {
			position: absolute;
			top: 8px;
			right: 50px;
		}
	}
}

@media (min-width: 1200px) {
	.page-footer__teg {
		margin-left: 133px;
		margin-right: 253px;
	}
	.page-footer__coopyright {
		margin-right: -4px;
	}
}