.review-form {
	border-top: 1px solid #e5e5e5;

	fieldset {
		padding: 0;
		padding-right:  19px;
		padding-bottom: 5px;
		border: none;
		border-bottom: 1px solid black;
	}

	legend {
		padding: 0;
		padding-top: 17px;
		padding-bottom: 21px;
		margin: 0;
		@include big-text();
		letter-spacing: -0.03em;
		text-align: center;
	}

	label {
		display: block;
	}
}

.review-form__name,
.review-form__contacts {
	input {
		display: inline-block;
		padding: 16px 21px;
		border: none;
		background: $bg-inputs;
		@include big-text();
		text-transform: none;
	}
}

.review-form__name {
	text-align: right;

	label {
		margin-bottom: 20px;
	}

	span {
		padding-right: 18px;
		@include fonts-rules(14px, 26px, $color-litle-text, 400);
	}
	
	input {
		width: 191px;
		box-sizing: border-box;
	}

	.review-form__first-name {
		width: 229px;
	}
}


.review-form .review-form__contacts {
	display: block;
	padding-bottom: 28px;

	legend {
		padding-left: 10px;
		padding-bottom: 20px;
	}

	span {
		display: inline-block;
		margin: 0;
		padding: 0 21px 7px;
		padding-left: 38px;
		@include fonts-rules(14px, 26px, $color-litle-text, 400);
	}

	input {
		margin-left: 20px;
		width: 280px;
		box-sizing: border-box;
	}

	.review-form__error--tel { 
		padding: 0;
		padding-top: 12px;
		padding-left: 38px;
		margin-bottom: 17px;
		text-transform: none;
		@include fonts-rules(13px, 14px, #ff5c5c, 400);
	}
}



.review-form__experience,
.review-form__places {
	@include big-text;
	text-transform: none;
}

.review-form__emotions {
	text-align: center;
}

